$gutter-width: 20px;

$breakpoint-lg: 1620px;
$breakpoint-md: 1280px;
$breakpoint-sm: 1024px;
$breakpoint-xs: 768px;

$font-size: 16px;

$serial-bg: rgba(255,0,0,.5);
$film-bg: rgba(0,255,0,.5);
$sport-bg: rgba(0,0,255,.5);