@import "grid";

.week {
  padding-top: 15px;
  margin-bottom: 15px;
  &__days {
    @include make-row();
  }
  &__day {
    cursor: pointer;
    height: 25px;
    @include make-column();
    display: none;
    &--holiday {
      .week__day-name {
        color: #f00;
      }
    }
    &--selected {
      display: inline-block;
    }
    &-date {
      font-size: 12px;
      color: #444444;
      padding-top: 1px;
      display: inline-block;
      vertical-align: top;
    }
    &-name {
      margin-left: 3px;
      color: #000;
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
    }
    &-abbr {
      display: none;
    }
  }
  &__next-day {
    cursor: pointer;
    width: 0;
    position: relative;
    height: 0;
    display: inline-block;
    border: 10px solid transparent;
    border-left: 10px solid #000000;
    border-right: 0;
    &:before {
      content: '';
      position: absolute;
      top: -8px;
      left: -10px;
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-left: 8px solid #fff;
      border-right: 0;
    }
  }
}
@media screen and (min-width: $breakpoint-xs - 1) {
  .week {
    &__day {
      display: inline-block;
      &--selected {
        border-bottom: 1px solid #000;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-sm - 1) {

}

@media screen and (min-width: $breakpoint-md - 1) {

}

@media screen and (min-width: $breakpoint-lg - 1) {

}